{% include 'navbar/navbar.html' %}
{% load static %}

<title>{% block title %}Update Member{% endblock %}</title>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/update_member.css' %}">
</head>

{% block content %}
<body>
    <div class="update-member-container">
        <h1>Update Your Member Profile</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_role">Role</label>
                <input type="text" name="role" id="id_role" value="{{ form.role.value }}" required>
            </div>
            
            <div class="form-group">
                <label for="id_image">Profile Image</label>
                {{ form.image }}  <!-- This will render the file input for the image -->
            </div>

            <button type="submit" class="btn btn-update-member">Save Changes</button>
        </form>
    </div>
</body>
{% endblock %}
