{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="png" href="/media/url icon/login.png">
    <link rel="stylesheet" href="{% static 'authcss/login.css' %}">
</head>
<body class="login-body">
    <div class="container">
        <h2>Login Form</h2>
        <form method="POST">
            {% if messages %}
            <div class="message-box">
                {% for message in messages %}
                <div class="{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% endif %}">
                    <span>{{ message }}</span>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" name="username" id="id_username" required>
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                <input type="password" name="password" id="id_password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p class="noaccount">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
</body>
</html>